.article {
    border: 2px solid blue;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    flex-grow:0;
    flex-shrink:1;

}
.reddit {
    border: 2px solid blue;
    display: flex;
    flex-direction:column;
}